.login_container {
	width: 100%;
	min-height: 100vh;
	background-color: #1c5be067;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	box-sizing: border-box;
}

.login_form_container {
	width: 900px;
	max-width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
	background-color: #fff;
	overflow: hidden;
}

@media (min-width: 768px) {
	.login_form_container {
		flex-direction: row;
		height: 500px;
	}
}

.company_logo {
	display: block;
	margin: 20px auto;
	max-width: 100px;
}

.slogan {
	font-size: 18px;
	color: #ffffff;
	font-style: italic;
	text-align: center;
	margin-top: -0px;
}

.left {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.171);
	padding: 20px;
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #000;
}

.form_container h1 {
	font-size: 30px;
	margin-top: 0;
	color: #463a0b;
	text-align: center;
}

.input {
	outline: none;
	border: none;
	width: 100%;
	max-width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
}

.error_msg {
	width: 100%;
	max-width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #263faf;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.right {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #263faf;
	padding: 20px;
}

.right h1 {
	margin-top: 0;
	color: white;
	font-size: 30px;
	text-align: center;
}

.white_btn,
.green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	border-radius: 20px;
	width: 100%;
	max-width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin: 10px;
	text-align: center;
}

.white_btn {
	background-color: #fff;
	color: #000;
}

.green_btn {
	background-color: #263faf;
	color: white;
}
